/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "cards";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "colors";
@import "items";

ul.dropdown-menu.show{
    left: -50px;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #1e2125;
  background-color: #f7db925c;
}

.footer {
  position: relative;
  width: 100%;
  background: #0d6efd;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer p {
  color: #fff;
}

.header {
  background: url(https://cdn.pixabay.com/photo/2015/11/19/08/47/banner-1050615__340.jpg);
  position: relative;
  background-position: bottom center;
  background-size: cover;
  overflow: hidden;
}

.header h2 {
  color: #0a4396;
}
